<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="sidenav" class="sidebar">
        <div class="logo">
            <h2>맛남 관리자</h2>
        </div>
        <ul class="nav-links">
            <li class="nav-item" th:classappend="${currentPage == 'dashboard'} ? 'active' : ''">
                <a th:href="@{/admin/dashboard}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>대시보드</span>
                </a>
            </li>
            <li class="nav-item" th:classappend="${currentPage == 'user-management'} ? 'active' : ''">
                <a th:href="@{/admin/user}">
                    <i class="fas fa-users"></i>
                    <span>사용자 관리</span>
                </a>
            </li>
            <li class="nav-item" th:classappend="${currentPage == 'team-management'} ? 'active' : ''">
                <a th:href="@{/admin/team}">
                    <i class="fas fa-user-friends"></i>
                    <span>모임 관리</span>
                </a>
            </li>
            <li class="nav-item" th:classappend="${currentPage == 'restaurant-management'} ? 'active' : ''">
                <a th:href="@{/admin/restaurant}">
                    <i class="fas fa-utensils"></i>
                    <span>식당 관리</span>
                </a>
            </li>
            <li class="nav-item" th:classappend="${currentPage == 'coupon-management'} ? 'active' : ''">
                <a class="nav-link" th:href="@{/admin/coupons}">
                    <i class="fas fa-fw fa-ticket-alt"></i>
                    <span>쿠폰 관리</span></a>
            </li>
            <li class="nav-item" th:classappend="${currentPage == 'content-rankings'} ? 'active' : ''">
                <a th:href="@{/admin/content-rankings}">
                    <i class="fas fa-list-ol"></i>
                    <span>콘텐츠 랭킹 관리</span>
                </a>
            </li>
            <li class="nav-item" th:classappend="${currentPage == 'statistics'} ? 'active' : ''">
                <a th:href="@{/admin/statistics}">
                    <i class="fas fa-chart-bar"></i>
                    <span>통계 및 분석</span>
                </a>
            </li>
            <li class="nav-item" th:classappend="${currentPage == 'notification'} ? 'active' : ''">
                <a th:href="@{/admin/notification}">
                    <i class="fas fa-bell"></i>
                    <span>알림 관리</span>
                </a>
            </li>
        </ul>
        <div class="logout">
            <a onclick="auth.logout()">
                <i class="fas fa-sign-out-alt"></i>
                <span>로그아웃</span>
            </a>
        </div>
    </div>
</body>
</html>